:root{
    --bs-primary: #c78c06;
    --bs-primary-rgb: 198,141,0;
    --bs-secondary: #ffe6ac;
    --bs-secondary-rgb: 255,230,172;

    
}

.navbar-brand {
    margin-right: 0;
}

.btn-outline-primary{
    --bs-btn-color: #c78c06;
}

.btn-primary{
    --bs-btn-bg: #c78c06;
}

#banner{
    background-image: url(img/main-banner.jpg);
    background-size: cover;
    background-position: center;
}

.our-vision{
    background-image: url(img/vision.jpg);
    background-size: cover;
    background-position: center;
}


@media screen and (min-width: 576px){
    .navbar-brand{
        width:auto !important;
    }

    .form-inline{
        width:auto !important;
    }
  }